/**
 * Color Pallet
 * 
 */
//@import "u-colorkit";
/**
 * Color Scheme
 * 
 * Generate harmonious color scheme based on a single key-color ($base-color)
 * @include color-scheme($base-color, $color-relationship);
 * $base-color: any CSS color value or keyword
 * $color-relationship: monochromatic/complementary/spit-complementary/analogous/triadic/tetradic/quadradic
 * $color-angle: (defaults to 30)
 */
@include color-scheme(double-complementary, red);

/**
 * Base Pallet
 *
 * use this pallet to easily derive color pallet variables from
 */
$basePallet: (
  uiColor: (
    primary: $blue-green--tone-2,
    secondary: $blue-green--tone-4,
    info: $blue-green--shade-2,
    success: $green--tint-2,
    warning: $red-orange--tint-2,
    error: $red-orange--tone-2
  ),
  baseColor: (
    white: white(0),
    black: black(0),
    highlight: alpha-white(.5),
    shadow: alpha-black(.2),
    strong: black(20%),
    subtle: black(60%),
    muted:  black(70%),
    accent: $blue-green--tint-5
  )
);

/**
 * Color Pallet
 */
$colorPallet: (
  /**
   * Text Colors
   */
  textColor:(
    strong: _u-deepGet($basePallet, baseColor, strong),
    subtle: _u-deepGet($basePallet, baseColor, subtle),
    muted: _u-deepGet($basePallet, baseColor, muted),
    accent: _u-deepGet($basePallet, baseColor, accent),
  ),
  /**
   * Background Colors
   */
  bgColor:(
    strong: _u-deepGet($basePallet, baseColor, strong),
    subtle: _u-deepGet($basePallet, baseColor, subtle),
    muted: _u-deepGet($basePallet, baseColor, muted),
    accent: _u-deepGet($basePallet, baseColor, accent),
  )
);

/**
 * Brand Colors
 *
 * prefixed with '$brand-' to avoid proper color names for ease of use and to avoid collision with CSS color keywords
 * ex: $brand-blue: deepskyblue; or: $brand-accent: tint($brand-blue, 12%);
 */

/**
 * ex:
 * $brand-blue:;
 * $brand-primary:;
 * $brand-secondary:;
 * $brand-accent:;
 */

/**
 * UI and State Colors
 *
 */


$uiPallet:(
  primary:(
    text: darken(_u-deepGet($basePallet, uiColor, primary), 20%),
    background: _u-deepGet($basePallet, uiColor, primary),
    border: darken(_u-deepGet($basePallet, uiColor, primary), 20%),
    hoverState:(
      text: darken(_u-deepGet($basePallet, uiColor, primary), 40%),
      background: darken(_u-deepGet($basePallet, uiColor, primary), 40%),
      border: darken(_u-deepGet($basePallet, uiColor, primary), 40%)
    ),
  ),
  secondary:(
    text: darken(_u-deepGet($basePallet, uiColor, secondary), 20%),
    background: _u-deepGet($basePallet, uiColor, secondary),
    border: darken(_u-deepGet($basePallet, uiColor, secondary), 20%),
    hoverState:(
      text: darken(_u-deepGet($basePallet, uiColor, secondary), 40%),
      background: darken(_u-deepGet($basePallet, uiColor, secondary), 40%),
      border: darken(_u-deepGet($basePallet, uiColor, secondary), 40%)
    ),
  ),
  info:(
    text: darken(_u-deepGet($basePallet, uiColor, info), 20%),
    background: _u-deepGet($basePallet, uiColor, info),
    border: darken(_u-deepGet($basePallet, uiColor, info), 20%),
    hoverState:(
      text: darken(_u-deepGet($basePallet, uiColor, info), 40%),
      background: darken(_u-deepGet($basePallet, uiColor, info), 40%),
      border: darken(_u-deepGet($basePallet, uiColor, info), 40%)
    ),
  ),
  success:(
    text: darken(_u-deepGet($basePallet, uiColor, success), 20%),
    background: _u-deepGet($basePallet, uiColor, success),
    border: darken(_u-deepGet($basePallet, uiColor, success), 20%),
    hoverState:(
      text: darken(_u-deepGet($basePallet, uiColor, success), 40%),
      background: darken(_u-deepGet($basePallet, uiColor, success), 40%),
      border: darken(_u-deepGet($basePallet, uiColor, success), 40%)
    ),
  ),
  warning:(
    text: darken(_u-deepGet($basePallet, uiColor, warning), 20%),
    background: _u-deepGet($basePallet, uiColor, warning),
    border: darken(_u-deepGet($basePallet, uiColor, warning), 20%),
    hoverState:(
      text: darken(_u-deepGet($basePallet, uiColor, warning), 40%),
      background: darken(_u-deepGet($basePallet, uiColor, warning), 40%),
      border: darken(_u-deepGet($basePallet, uiColor, warning), 40%)
    ),
  ),
  error:(
    text: darken(_u-deepGet($basePallet, uiColor, error), 20%),
    background: _u-deepGet($basePallet, uiColor, error),
    border: darken(_u-deepGet($basePallet, uiColor, error), 20%),
    hoverState:(
      text: darken(_u-deepGet($basePallet, uiColor, error), 40%),
      background: darken(_u-deepGet($basePallet, uiColor, error), 40%),
      border: darken(_u-deepGet($basePallet, uiColor, error), 40%)
    ),
  ),
);

