/**
 * Browns
 * 
 */

$brown: #A52A2A !global;

/**
 * Tints
 */
$brown--tint-stack: tint-stack($brown, $sixths) !global;

$brown--tint-1: nth($brown--tint-stack, 2) !global;
$brown--tint-2: nth($brown--tint-stack, 3) !global;
$brown--tint-3: nth($brown--tint-stack, 4) !global;
$brown--tint-4: nth($brown--tint-stack, 5) !global;
$brown--tint-5: nth($brown--tint-stack, 6) !global;
$brown--tint-6: nth($brown--tint-stack, 7) !global;

/**
 * Tones
 */
$brown--tone-stack: tone-stack($brown, $sixths) !global;

$brown--tone-1: nth($brown--tone-stack, 2) !global;
$brown--tone-2: nth($brown--tone-stack, 3) !global;
$brown--tone-3: nth($brown--tone-stack, 4) !global;
$brown--tone-4: nth($brown--tone-stack, 5) !global;
$brown--tone-5: nth($brown--tone-stack, 6) !global;
$brown--tone-6: nth($brown--tone-stack, 7) !global;

/**
 * Shades
 */
$brown--shade-stack: shade-stack($brown, $sixths) !global;

$brown--shade-1: nth($brown--shade-stack, 2) !global;
$brown--shade-2: nth($brown--shade-stack, 3) !global;
$brown--shade-3: nth($brown--shade-stack, 4) !global;
$brown--shade-4: nth($brown--shade-stack, 5) !global;
$brown--shade-5: nth($brown--shade-stack, 6) !global;
$brown--shade-6: nth($brown--shade-stack, 7) !global;

