/**
 * Greens
 * 
 */

$green: #008800 !global;

/**
 * Tints
 */
$green--tint-stack: tint-stack($green, $sixths) !global;

$green--tint-1: nth($green--tint-stack, 2) !global;
$green--tint-2: nth($green--tint-stack, 3) !global;
$green--tint-3: nth($green--tint-stack, 4) !global;
$green--tint-4: nth($green--tint-stack, 5) !global;
$green--tint-5: nth($green--tint-stack, 6) !global;
$green--tint-6: nth($green--tint-stack, 7) !global;

/**
 * Tones
 */
$green--tone-stack: tone-stack($green, $sixths) !global;

$green--tone-1: nth($green--tone-stack, 2) !global;
$green--tone-2: nth($green--tone-stack, 3) !global;
$green--tone-3: nth($green--tone-stack, 4) !global;
$green--tone-4: nth($green--tone-stack, 5) !global;
$green--tone-5: nth($green--tone-stack, 6) !global;
$green--tone-6: nth($green--tone-stack, 7) !global;

/**
 * Shades
 */
$green--shade-stack: shade-stack($green, $sixths) !global;

$green--shade-1: nth($green--shade-stack, 2) !global;
$green--shade-2: nth($green--shade-stack, 3) !global;
$green--shade-3: nth($green--shade-stack, 4) !global;
$green--shade-4: nth($green--shade-stack, 5) !global;
$green--shade-5: nth($green--shade-stack, 6) !global;
$green--shade-6: nth($green--shade-stack, 7) !global;

