/**
 * Oranges
 * 
 */

$orange: #FFA500 !global;

/**
 * Tints
 */
$orange--tint-stack: tint-stack($orange, $sixths) !global;

$orange--tint-1: nth($orange--tint-stack, 2) !global;
$orange--tint-2: nth($orange--tint-stack, 3) !global;
$orange--tint-3: nth($orange--tint-stack, 4) !global;
$orange--tint-4: nth($orange--tint-stack, 5) !global;
$orange--tint-5: nth($orange--tint-stack, 6) !global;
$orange--tint-6: nth($orange--tint-stack, 7) !global;

/**
 * Tones
 */
$orange--tone-stack: tone-stack($orange, $sixths) !global;

$orange--tone-1: nth($orange--tone-stack, 2) !global;
$orange--tone-2: nth($orange--tone-stack, 3) !global;
$orange--tone-3: nth($orange--tone-stack, 4) !global;
$orange--tone-4: nth($orange--tone-stack, 5) !global;
$orange--tone-5: nth($orange--tone-stack, 6) !global;
$orange--tone-6: nth($orange--tone-stack, 7) !global;

/**
 * Shades
 */
$orange--shade-stack: shade-stack($orange, $sixths) !global;

$orange--shade-1: nth($orange--shade-stack, 2) !global;
$orange--shade-2: nth($orange--shade-stack, 3) !global;
$orange--shade-3: nth($orange--shade-stack, 4) !global;
$orange--shade-4: nth($orange--shade-stack, 5) !global;
$orange--shade-5: nth($orange--shade-stack, 6) !global;
$orange--shade-6: nth($orange--shade-stack, 7) !global;

