/**
 * Reds
 * 
 */
$red: #ff0000 !global;

/**
 * Tints
 */
$red--tint-stack: tint-stack($red, $sixths) !global;

$red--tint-1: nth($red--tint-stack, 2) !global;
$red--tint-2: nth($red--tint-stack, 3) !global;
$red--tint-3: nth($red--tint-stack, 4) !global;
$red--tint-4: nth($red--tint-stack, 5) !global;
$red--tint-5: nth($red--tint-stack, 6) !global;
$red--tint-6: nth($red--tint-stack, 7) !global;

/**
 * Tones
 */
$red--tone-stack: tone-stack($red, $sixths) !global;

$red--tone-1: nth($red--tone-stack, 2) !global;
$red--tone-2: nth($red--tone-stack, 3) !global;
$red--tone-3: nth($red--tone-stack, 4) !global;
$red--tone-4: nth($red--tone-stack, 5) !global;
$red--tone-5: nth($red--tone-stack, 6) !global;
$red--tone-6: nth($red--tone-stack, 7) !global;

/**
 * Shades
 */
$red--shade-stack: shade-stack($red, $sixths) !global;

$red--shade-1: nth($red--shade-stack, 2) !global;
$red--shade-2: nth($red--shade-stack, 3) !global;
$red--shade-3: nth($red--shade-stack, 4) !global;
$red--shade-4: nth($red--shade-stack, 5) !global;
$red--shade-5: nth($red--shade-stack, 6) !global;
$red--shade-6: nth($red--shade-stack, 7) !global;

