/**
 * Violets
 * 
 */

$violet: violet !global;

/**
 * Tints
 */
$violet--tint-stack: tint-stack($violet, $sixths) !global;

$violet--tint-1: nth($violet--tint-stack, 2) !global;
$violet--tint-2: nth($violet--tint-stack, 3) !global;
$violet--tint-3: nth($violet--tint-stack, 4) !global;
$violet--tint-4: nth($violet--tint-stack, 5) !global;
$violet--tint-5: nth($violet--tint-stack, 6) !global;
$violet--tint-6: nth($violet--tint-stack, 7) !global;

/**
 * Tones
 */
$violet--tone-stack: tone-stack($violet, $sixths) !global;

$violet--tone-1: nth($violet--tone-stack, 2) !global;
$violet--tone-2: nth($violet--tone-stack, 3) !global;
$violet--tone-3: nth($violet--tone-stack, 4) !global;
$violet--tone-4: nth($violet--tone-stack, 5) !global;
$violet--tone-5: nth($violet--tone-stack, 6) !global;
$violet--tone-6: nth($violet--tone-stack, 7) !global;

/**
 * Shades
 */
$violet--shade-stack: shade-stack($violet, $sixths) !global;

$violet--shade-1: nth($violet--shade-stack, 2) !global;
$violet--shade-2: nth($violet--shade-stack, 3) !global;
$violet--shade-3: nth($violet--shade-stack, 4) !global;
$violet--shade-4: nth($violet--shade-stack, 5) !global;
$violet--shade-5: nth($violet--shade-stack, 6) !global;
$violet--shade-6: nth($violet--shade-stack, 7) !global;

