/**
 * Yellows
 * 
 */

$yellow: #FFFF00 !global;

/**
 * Tints
 */
$yellow--tint-stack: tint-stack($yellow, $sixths) !global;

$yellow--tint-1: nth($yellow--tint-stack, 2) !global;
$yellow--tint-2: nth($yellow--tint-stack, 3) !global;
$yellow--tint-3: nth($yellow--tint-stack, 4) !global;
$yellow--tint-4: nth($yellow--tint-stack, 5) !global;
$yellow--tint-5: nth($yellow--tint-stack, 6) !global;
$yellow--tint-6: nth($yellow--tint-stack, 7) !global;

/**
 * Tones
 */
$yellow--tone-stack: tone-stack($yellow, $sixths) !global;

$yellow--tone-1: nth($yellow--tone-stack, 2) !global;
$yellow--tone-2: nth($yellow--tone-stack, 3) !global;
$yellow--tone-3: nth($yellow--tone-stack, 4) !global;
$yellow--tone-4: nth($yellow--tone-stack, 5) !global;
$yellow--tone-5: nth($yellow--tone-stack, 6) !global;
$yellow--tone-6: nth($yellow--tone-stack, 7) !global;

/**
 * Shades
 */
$yellow--shade-stack: shade-stack($yellow, $sixths) !global;

$yellow--shade-1: nth($yellow--shade-stack, 2) !global;
$yellow--shade-2: nth($yellow--shade-stack, 3) !global;
$yellow--shade-3: nth($yellow--shade-stack, 4) !global;
$yellow--shade-4: nth($yellow--shade-stack, 5) !global;
$yellow--shade-5: nth($yellow--shade-stack, 6) !global;
$yellow--shade-6: nth($yellow--shade-stack, 7) !global;

